{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-work-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}
{{ if .Content }}
<div class="container pt-6 pt-md-10">
  <div class="row">
    <div class="col-12">
      <div class="page-intro">
      {{ .Content }}
    </div>
    </div>
  </div>
</div>
{{ end }}

{{ partial "whatwedo.html" . }}

<div class="container pt-8 pb-8 pb-md-8 pt-md-8">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="text-center mb-3">Who We Are</h2>
    </div>
  </div>
  <div class="row justify-content-between">
    {{ range first 6 (sort (where .Resources "Type" "bio") ".Params.weight") }}
      <div class="col-12 col-sm-4 offset-md-1 mr-auto mb-3 ">
        <div class="pb-1">
          <img class="img-thumbnail" src="{{ .Params.Thumbnail }}" alt="{{ .Title }}">
        </div>
        <h4>{{ .Title }}</h4>
        <div>{{ .Content }}</div>
      </div>
    {{ end }}
  </div>
  <div class="row justify-content-start">
    <div class="col-12 text-center">
      <a class="button button-primary" href="/volunteer">Volunteer</a>
      <a class="button button-primary" href="/donate">Donate</a>
    </div>
  </div>
</div>

{{ end }}